.box {
  background-color: #DAB129;
  width: 90%;
  min-height: 200px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 100px;
}

p {
   font-size: 14px;
   width: 100%;
   margin-bottom: 2px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #000;
  margin-top: 0;
}
